body {
    padding: 0;
    margin: 0;
}
html, body, #map {
	width: 100%;
    height: 100%;
}

#map {
	z-index: 1;
}

#statistics {
	background-color: #DFDFDF;
	border: 1px solid #AAAAAA;
	padding: 3px;
	opacity: 0.75;
	position: absolute;
	text-align: right;
	right: 10px;
	top: 10px;
	z-index: 99;
}