body {
  padding: 0;
  margin: 0;
  font: normal 100% Helvetica, Arial, sans-serif;
  text-align: center;
}
html,
body,
#map {
  height: 100%;
  padding: 0;
  margin: 0;
}
@media screen and (min-width : 10px) and (max-width : 320px) {
  body {
    font-size: 30%;
  }
  #textBox {
    max-width: 35%;
  }
}
@media screen and (min-width : 320px) and (max-width : 480px) {
  body {
    font-size: 50%;
  }
  #textBox {
    max-width: 50%;
  }
}
@media screen and (min-width : 480px) and (max-width : 1000px) {
  body {
    font-size: 70%;
  }
  #textBox {
    max-width: 65%;
  }
}
@media only screen and (min-width: 1000px) {
  body {
    font-size: 100%;
  }
  #textBox {
    max-width: 80%;
  }
}
p.stats {
  display: inline;
  font-size: 0.65em;
  font-weight: bold;
}
p.stats span {
  color: #ae0000;
  font-weight: normal;
}
.highlightText {
  color: #004b94;
}
#map {
  z-index: 1;
}
#textBoxContainer {
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  z-index: 97;
}
#textBox {
  display: inline-block;
  text-align: center;
  background-color: #eee;
  padding: 6px 16px 6px 16px;
  border-radius: 4px;
}
#welcomeMsg {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  padding: 0;
}
#loadingIndicator {
  opacity: 0.75;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 98;
}
#statistics {
  background-color: #dfdfdf;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 3px;
  opacity: 0.75;
  position: absolute;
  text-align: right;
  right: 10px;
  bottom: 20px;
  z-index: 99;
}
