doctype 5
html(lang="en")
  
  head
    title="node-sights"
    meta(author="Jan Petzold")
    meta(description="Small node.js application that displays a map based on the users position and shows some sights that are around him/her")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

  body

    // placeholder for the actual map
    #map

    // main text box
    #textBoxContainer
      #textBox
        span(id="welcomeMsg") #{msg}

    // loading indicator
    img(id="loadingIndicator", src="assets/images/loader.gif", width="110", height="110", alt="Loading data...", title="Loading data...")

    // debug statistics
    #statistics
      p(class="stats") IP: 
        span(id="ipStatus") #{ip}
      p(class="stats") Geolocation: 
        span(id="geoStatus") unavailable
      p(class="stats") Webworker: 
        span(id="wwStatus") unavailable
      p(class="stats") Zoom-Level: 
        span(id="zoomStatus") 0

    link(rel='stylesheet', href='css/leaflet/leaflet.css')
    //if lte IE 8
    link(rel='stylesheet', href='css/leaflet/leaflet.ie.css')
    //<![endif]

    link(rel='stylesheet', href='css/client.css')

    script(type="text/javascript", src="js/lib/leaflet.js")
    script(type="text/javascript", src="js/lib/jquery-1.10.2.min.js")
    script(type="text/javascript", src="js/client.js")