body 
  padding 0
  margin 0
  font 100% Helvetica, Arial, sans-serif
  text-align center

html, body, #map
  width 100%
  height 100%

p.stats
  display inline
  font-size 0.8em
  font-weight bold

p.stats span
  color #AE0000
  font-weight normal

.highlightText
  color #004B94

#map
  z-index: 1

#textBoxContainer
  position absolute
  top 6px
  left 0
  right 0
  z-index 97

#textBox
  display inline-block
  max-width 80%
  text-align center
  background-color #EEE
  padding 6px 16px 6px 16px
  border-radius 4px

#welcomeMsg
  font-size 1.5em
  font-weight bold
  color #333
  padding 0

#loadingIndicator
  opacity 0.75
  position absolute
  right 10px
  top 10px
  z-index 98

#statistics 
  background-color #DFDFDF
  border 1px solid #AAAAAA
  border-radius 4px
  padding 4px
  opacity 0.75
  position absolute
  text-align right
  right 10px
  bottom 20px
  z-index 99