body 
  padding 0
  margin 0

html, body, #map
  width 100%
  height 100%

p.stats
  display inline
  font-weight bold

p.stats span
  color #AE0000
  font-weight normal

#map
  z-index: 1

#loadingIndicator
  display none 
  opacity 0.75
  position absolute
  right 10px
  top 10px
  z-index 98

#statistics 
  background-color #DFDFDF
  border 1px solid #AAAAAA
  padding 3px
  opacity 0.75
  position absolute
  text-align right
  right 10px
  bottom 20px
  z-index 99